h1 h2 h3{
	font-family: 'Russo One', sans-serif;
}
p{
	font-family: 'Roboto', sans-serif;
}



.headerr{

	font-family: 'Russo One', sans-serif;
	/* font-size: 1rem; */
	text-align: center;
	color: white;
	height:80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	
	
	background-image:url("asset/assets/backgrounds/h_img.jpg");
	
	
}
.logo{
	margin-top: 10vh;
margin-bottom: 1rem;

}

.mouse-click{
	margin-top: 15vh;
	
}
.About{
	margin-top: 5vh;
	text-align: center;
	
}
.paragraph-1{
	font-family: 'Roboto', sans-serif;

}
p{
	font-family: 'Roboto', sans-serif;
	
	text-align: center;
}
.Services{
	margin-top: 7vh;
	/* font-family: 'Russo One', sans-serif;
	font-size: 1rem;
	text-align: center; */
	height: 55vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: fixed;
	align-content: center;
	

	background-image: url("asset/assets/backgrounds/s_image.jpg");
}
h3{
text-align: center;
color: white;
font-size: 1em;
padding-top: 18vh;
margin-top: 15vh;

}


H4{
	padding-top: 5vh;
	text-align: center;
}
/* .icons{
	height: auto;
} */
.what-we-do{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem 0rem;
}
.portfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem 3rem ;

}
.contact-us{
	background-image: url("asset/assets/backgrounds/c_image.jpg");

	font-family: 'Russo One', sans-serif;
	/* font-size: 1rem; */
	text-align: center;
	color: white;
	height:80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.form{


margin: 2rem;

}
.text{
	background-color: transparent;
	width: 35%;
	border: 0.5px solid aliceblue;


}
.Email{
	background-color: transparent;
	width: 35%;
	border: 0.5px solid aliceblue;
	margin: 0  15px;
}
::placeholder{
	color: white;
	
	
}
#text-area{
background-color: transparent;
	width: 60%;
	height: 15rem;
	border: 0.5px solid aliceblue;

}
.social{
	text-align: center;
	padding-top: 3rem;
}
.studio{
	margin-top: 1rem;
	font-size: 0.5rem;

}