*{
	font-family: 'Roboto Slab', serif
}

.headerr{
	font-family: 'Russo One', sans-serif;
	text-align: center;
	color: white;
	height:102vh;
	padding-top: 6%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:url("asset/assets/backgrounds/h_img.jpg");
	}

.logo{
	margin-top: 10vh;
  margin-bottom: 1rem;
}

.mouse-click{
	margin-top: 27vh;
}
.about{
	margin-top: 5vh;
	text-align: center;
}
p{
	text-align: center;
}
.Services{
	text-align: center; 
	height: 23rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("asset/assets/backgrounds/s_image.jpg");
}
h3{
	text-align: center;
	color: white;
	font-size: 1em;
	padding-top: 20vh;
	margin-top: 15vh;
}
H4{
	padding-top: 5vh;
	text-align: center;
}
/* .icons{
	height: auto;
} */
.what-we-do{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 4rem 0rem;
}
.portfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1rem 4rem ;
}
.contact-us{
	margin-top: 2%;
	font-family: 'Russo One', sans-serif;
	text-align: center;
	align-content: center;
	color: #fff;
	height:80vh;
	background-image: url("asset/assets/backgrounds/c_image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form{
	margin: 2rem;
	
}
.text{
	background-color:grey;
	width: 35%;
	border: 0.5px solid #fff;
	margin: 0 15px;
	color: #fff;

}
.email{
	background-color:grey;
	width: 35%;
	border: 0.5px solid#fff;
	margin: 0  15px;
}
::placeholder{
	color: #fff;
} 
 #text-area{
	background-color: transparent;
	align-content: center;
	border: 0.5px solid #fff;
	 
 }
 .social{
	text-align: center;
	padding-top: 3rem;
}
.studio{
	margin-top: 1rem;
}
 .paragraph-1,.paragraph-3,.paragraph-4{
	display: none;
} 
.portfolio-names{
	width: 75%;
}
.portfolio-names img{
	width: 100%;
}
.portfolio-image-hover{
	position: relative;
}
.portfolio-image-hover p{
	position: absolute;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 2% 4%;
	top: 12%;
	left: 12%;
	color:#fff;
	transform: translate(0%, 0%);
	width: 80%;
	height: 80%;
	display: none;
	border: 6px solid greenyellow;
}
.portfolio-image-hover:hover{
	filter: brightness(20%);
	cursor: pointer;
}
#submit{
	background-color:none;
	border: 2px solid #fff;
	margin-left: 3%;
	border-radius: 4px;
	padding: 0 1.5rem;
	color: #fff;
}
.col h4{
	font-size: .9rem;
}